<div class="hero" style="background:url({{ section.settings.hero | img_url:'2000x' }}) no-repeat center; background-size:cover;"></div>

<div class="welcome">
	<div class="content">
		<h1>Who are these events for?</h1>
		<p>{{ section.settings.welcome-1 }}</p>
		<h2>How do I attend</h2>
		<p>{{ section.settings.welcome-2 }}</p>
	</div> <!-- end .content -->
</div> <!-- end .welcome -->

<div class="event">
	<div class="content">
		{% assign product = all_products[section.settings.event] %}
		{% for tag in product.tags %}
			{% assign t = tag | downcase %}
			{% if t contains 'date-' %}{% assign date = t | remove:'date-' %}{% endif %}
			{% if t contains 'location-' %}{% assign location = t | remove:'location-' %}{% endif %}
		{% endfor %}
		{% assign when = product.description | split:'<blockquote>' | last | split:'</blockquote>' | first %}
		{% for block in section.blocks %}
			{% assign loc = block.settings.title | downcase %}
			{% if location == loc %}{% capture where %}<p>{{ block.settings.title }}<a href="{{ block.settings.address_url }}" target="_blank">{{ block.settings.address | newline_to_br }}</a></p>{% endcapture %}{% endif %}
		{% endfor %}
		{% if date != blank %}<h3>{{ date }}</h3>{% endif %}
		{{ product.images[0] | img_url:'1000x' | img_tag:product.title }}
		<h4>Topic:<br /><span>{{ product.title }}</span></h4>
		<div class="description">{{ product.description | remove:when | strip_html }}</div>
		<div class="when-where">
			<p class="heading">When</p>
			{{ when }}
		</div> <!-- .when-where -->
		<div class="when-where">
			<p class="heading">Where</p>
			{{ where }}
		</div> <!-- .when-where -->
		<button type="button">RSVP now</button>
	</div> <!-- end .content -->
</div> <!-- end .event -->

{% schema %}
	{"name":"Home page", "settings":[
		{"type":"header", "content":"Hero image"},
		{"type":"image_picker", "id":"hero", "label":"Image"},
		{"type":"header", "content":"Welcome text"},
		{"type":"textarea", "id":"welcome-1", "label":"Who are these events for?"},
		{"type":"textarea", "id":"welcome-2", "label":"How do i attend?"},
		{"type":"header", "content":"Featured event"},
		{"type":"product", "id":"event", "label":"Event"}
  ], "blocks":[
		{"type":"location", "name":"Location", "settings":[
			{"type":"text", "id":"title", "label":"Name"},
			{"type":"textarea", "id":"address", "label":"Address"},
			{"type":"text", "id":"address_url", "label":"Address URL", "info":"e.g. https://goo.gl/maps/Cv7CvYneGXG2"}
		]}
	], "presets":[
		{"name":"Home page", "category":"Site"}
	]}
{% endschema %}
